:root{
    --overly-color: rgba(0, 0, 0, .3);
    --default-color: #FFF;
    --main-color: rgba(255, 152, 0, 1);
    --default-transition: all .5s ease-in-out;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
}
.container{
    margin: auto;
}
.visibale-xs, /*hadak elemnt ghaykon mkhfi fga3 lmedia ila l media li khtaritha lih ghayban fiha*/
.visibale-sm,
.visibale-md,
.visibale-lg{
    display: none;
}
.clearFix{
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
/*
     Create Heading Class
     7it maymknch ykon 3andk ktar m h1 fl page
     hadakchi 3alch kadir class h1 wt3tih khawas h1
*/
.h1{
    font-size: 2em;
}
.h2{
    font-size: 1.5em;
}
.img1{
    background-image: url('../images/img1.jpg') !important;
}
.img2{
    background-image: url('../images/img2.jpg') !important;
}
.img3{
    background-image: url('../images/img3.jpg') !important;
}
.img4{
    background-image: url('../images/img4.jpg') !important;
}
.img5{
    background-image: url('../images/img5.jpg') !important;
}
/* start global media */
@media ( max-width : 767px) and (min-width : 200px) /*hadchi ghaytab9 3la ay chacha l width dyalha makyfot 767px*/
{
    .visibale-xs
    {
        display: block !important;
    }
    .hidden-xs /*hadak elemnt ghaytkhfa fhad l media wyban fl media lokhrin*/
    {
        display: none !important;
    }
}
@media (min-width : 768px)
{
    .container
    {
        width: 780px;
    }
    .visibale-sm
    {
        display: block !important;
    }
    .hidden-sm
    {
        display: none !important;
    }
}
@media (min-width : 992px)
{
    .container
    {
        width: 1000px;
    }
    .visibale-md
    {
        display: block !important;
    }
    .hidden-md
    {
        display: none !important;
    }
}

@media (min-width : 1200px)
{
    .container
    {
        width: 1200px;
    }
    .visibale-lg
    {
        display: block !important;
    }
    .hidden-lg
    {
        display: none !important;
    }
}
/* end global media */

/* start settings box */
.open-settings
{
    left: 0 !important;
}
.turn-icon{
    transform: rotateZ(180deg);
}
div.settings-box{
    --local-trans: all 1s ease-in-out;
    position: fixed;
    width: 200px;
    top: 0px;
    left: -200px; 
    background-color: rgba(0, 0, 0, .8);
    color: #FFF;
    z-index: 50;
    min-height: 100vh;
    transition: var(--local-trans);
}
div.settings-box div.icon-parent{
    position: absolute;
    top: 25%;
    right: -30px;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.settings-box div.icon-parent i{
    transition: var(--local-trans);
    width: 30px;
    padding: 8px 0;
}
div.settings-box div.icon-parent:hover i{
    color: var(--main-color ,orange);
}
div.settings-box .settings-container .option-box{
    padding: 20px;
    text-align: center;
}
div.settings-box .settings-container .option-box h4{
    margin: 0;
    color: var(--default-color);
    text-transform: capitalize;
    color: var(--main-color, orange);
    transition: var(--default-transition)
}
div.settings-box .settings-container .option-box ul.colors-list{
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}
div.settings-box .settings-container .option-box ul.colors-list li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    margin-right: 5px;
    transition: var(--default-transition);
}
div.settings-box .settings-container .option-box ul.colors-list li.active{
    opacity: 1;
    transform: scale(1.2);
}
div.settings-box .settings-container .option-box ul.colors-list li:first-child{
    background-color: rgba(255, 152, 0, 1);
}
div.settings-box .settings-container .option-box ul.colors-list li:nth-child(2){
    background-color: #E91E63;
}
div.settings-box .settings-container .option-box ul.colors-list li:nth-child(3){
    background-color: #009688;
}
div.settings-box .settings-container .option-box ul.colors-list li:nth-child(4){
    background-color: #03A9F4;
}
div.settings-box .settings-container .option-box ul.colors-list li:nth-child(5){
    background-color: #4CAF50;
}
/* end settings box */
/* start landing page*/
div.landing-page{
    min-height: 100vh;
    background-image: url('../images/img5.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--overly-color, #888);
    background-blend-mode: overlay;
    transition: all 3s ease-in-out;
    position: relative;
}
div.landing-page header{
    color: var(--default-color ,white);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
div.landing-page header div.logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
div.landing-page header ul.links{
    list-style: none;
    font-size: 15px
}
div.landing-page header ul.links li{
    display: inline-block;
    margin-right: 10px;
    text-transform: capitalize;
}
div.landing-page header ul.links li a{
    text-decoration: none;
    color: inherit;
    transition: var(--default-transition);
    position: relative;
}
div.landing-page header ul.links li a::after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color, orange);
    transform-origin: left;
    transform: scaleX(0);
    transition: var(--default-transition);
}
div.landing-page header ul.links li a:hover,
div.landing-page header ul.links li a.active{
    color: var(--main-color, orange);
}
div.landing-page header ul.links li a:hover::after{
    transform: scaleX(1);
}
div.landing-page section.introduction-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    color: var(--default-color, white);
    text-align: center;
}
div.landing-page section.introduction-text h1{
    text-transform: capitalize;
    font-size: 40px;
    color: var(--main-color, orange);
    width: 100%;
    transition: var(--default-transition);
}
div.landing-page section.introduction-text p{
    line-height: 1.6;
    margin: 0px;
}
@media ( max-width : 767px) /*hadchi ghaytab9 3la ay chacha l width dyalha makyfot 767px*/
{
    .filterB{
        /* filter: blur(1px); */
    }
    div.landing-page{
        --mediaS-transition: all .1s ease-in-out;
    }
    div.landing-page header{
        padding: 0;
        transition: var(--mediaS-transition);
    }
    div.landing-page header .menu-btn{
        padding: 10px 15px 15px;
        cursor: pointer;
        font-size: 22px;
        transition: var(--default-transition);
    }
    div.landing-page header .menu-btn:hover{
        color: var(--main-color, orange);
    }
    div.landing-page header .menu-btn:active{
        transform: scale(0);
    }
    div.landing-page header ul{
        position: fixed;
        top: 50px;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100vh;
        margin: 0;
        z-index: 2;
        display: block;
        padding: 0;
        transform: translateX(-100%);
        transition: var(--mediaS-transition);
        padding-top: 60px;
    }
    .returnMenu header ul{
        transform: translateX(0%) !important;
    }.returnMenu header ul li{
        transform: translateX(0%) !important;
    }
    div.landing-page header ul li{
        display: block !important;
        margin: 40px auto !important;
        width: fit-content;
        transform: translateX(-100%);
        transition: all .4s ease-in-out;
    }
    div.landing-page header ul.links li a::after{
        transition: all .3s ease-in-out;
    }

    div.landing-page section.introduction-text h1{
        font-size: 35px;
    }
    div.landing-page section.introduction-text p{
        text-align: justify;
    }
}
@media (min-width : 768px)
{
    div.landing-page section.introduction-text h1{
        font-size: 40px;
    }
}
@media (min-width : 992px)
{
}

@media (min-width : 1200px)
{
}
/* end landing page */